<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Admin</title>
</head>

<body class="container-fluid ">
    

    <div class="navbar-brand mb-0 h1">A to Z Household Services</div>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <span class="navbar-text"> Welcome to admin |</span>

                    <a class="nav-link" aria-current="page" href="/admin/home">Home</a>
                    <a class="nav-link" href="/admin/search">Search</a>
                    <a class="nav-link" href="/admin/summary">Summary</a>
                    <a class="nav-link" href="/">Logout</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- -------------------------------------------------------Home page -->
    {% if page == "home" %}
    
    <h2>Service</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Service Name.</th>
            <th>Base Price. </th>
            <th>Action</th>
        </tr>
        {% for serv in all_service %}
        <tr>
            <td>{{serv.id}}</td>
            <td>{{serv.sname}}</td>
            <td>{{serv.price}}</td>
            <td> <a href="/service/edit/{{serv.id}}">Edit</a> / <a href="/service/delete/{{serv.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}

    </table>
    <a href="/service/new/0" class="btn btn-primary" role="button">+ New Service</a>

    <h2>Professionals</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Experience(Yrs)</th>
            <th>Service Name</th>
            <th>Uploaded Document</th>
            <th>Action</th>
        </tr>
        {% for pro in pro %}
        <tr>
            <td>{{pro.id}}</td>
            <td>{{pro.uid}}</td>
            <td>{{pro.experience}}</td>
            <td>{{pro.sp.sname}}</td>
            <td><a href="{{pro.document}}">View</a></td>
            <td><a href="/admin/pro_approve/{{pro.id}}">Approve</a> / <a href="/admin/reject/{{pro.id}}">Reject</a> / <a
                    href="/admin/delete/{{pro.id}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>

    <h2>Service Requests</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Assigned Professional(if any)</th>
            <th>Requested Dt</th>
            <th>Status (R/A/C)</th>
        </tr>
        {% for r in all_request %}
        <tr>
            <td>{{r.id}}</td>
            <td>{{r.pro.name}}</td>
            <td>{{r.date_of_request}}</td>
            <td>{{r.service_status}}</td>
        </tr>
        {% endfor %}
    </table>

    <!-- -------------------------------------------------------search page -->
    {% elif page == "search" %}


    <form action="">
        <label for="">Search by :</label>
        <input type="search">
        <input type="submit" value="Search text">
    </form>

    <h2>Service Requests (closed)</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Assigned Professional (if any)</th>
            <th>Requested Dt</th>
            <th>Status(R/A/C)</th>
        </tr>
    </table>

    <!-- -------------------------------------------------------summary page -->
    {% elif page == "summary" %}
    <table>
        <tr>
            <th>Rating</th>
            <th>Service status</th>
        </tr>

        <tr>
            <td> <img src="../{{rating_img}}" alt=" "></td>
            <td> <img src="../{{status_ing}}" alt=" "></td>
        </tr>

    </table>

    {% endif %}

</body>


