<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Document</title>
</head>

<body class="container-fluid">


    <div class="navbar-brand mb-0 h1">A to Z Household Services</div>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">

            <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                    <span class="navbar-text"> Welcome to Customer |</span>

                    <a class="nav-link" href="/customer/home/{{id}}">Home</a>
                    <a class="nav-link" href="/customer/search/{{id}}">Search</a>
                    <a class="nav-link" href="/customer/summary/{{id}}">Summary</a>
                    <a class="nav-link " href="/">Logout</a>
                </div>
            </div>
        </div>
    </nav>




    {% with msg = get_flashed_messages() %}
    {% if msg %}
    {% for m in msg %}
    <div class="alert alert-info text-center">
        {{m}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}




    <!-- -------------------------------------------------------Home page -->
    {% if page =="home" or page =="homeshow" %}

    <div class=" d-grid  justify-content-md-end">

        <a class="btn btn-info m-1  " href="/customer/profile/{{id}}">Go to Profile</a>
    </div>


    <!-- to show available service for booking -->
    {% if recomend|length == 0 %}
    <div class=" container">
        <h2>What are lookinng for?</h2>
        <form class="row row-cols-3 " action="/customer/homeshow/{{id}}" method="post">
            {% for serv in all_service %}



            <div class="card col " style="width: 10rem;">

                <div class="card-body">
                    <h5 class="card-title">{{serv.sname}}</h5>
                    <p class=" text-info card-text">{{serv.description}}</p>
                    <button class="btn btn-sm btn-info" type="submit" name="showserv" value="{{serv.id}}">Find best
                        professional</button>

                </div>
            </div>



            {% endfor %}
        </form>
    </div>




    {% else %}





    <div class="mytable">
        <h3>Best {{recomend[0].sp.sname}} packeges for you </h3>

        <table class="table ">
            <thead>
                <tr>
                    <th scope="col">Professional's name</th>
                    <th>Service Description</th>
                    <th>Total earned point</th>
                    <th>Base price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for r in recomend |sort(attribute='service_rating', reverse = True) %}
                <tr>
                    <td>{{r.name}}</td>
                    <td>{{r.pro_descrip}}</td>
                    <td>{{r.service_rating}}</td>
                    <td>{{r.sp.price}}</td>
                    <td><a class="btn btn-primary" href="/request/book/{{id}}/{{r.id}}/{{r.serv}}">book</a></td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>



    {% endif %}


    <div class="mytable">

        <h3>Your Service History</h3>
        <table class="table ">
            <thead>

                <tr>
                    <th>ID</th>
                    <th>Service Name</th>
                    <th>Professional Name</th>
                    <th>Phome no.</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>


                {% for hist in hist %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{hist.ss.sname}}</td>
                    <td>{{hist.pro.name}}</td>
                    <td>{{hist.pro.phone}}</td>

                    {% if hist.service_status == "Accepted" %}
                    <td> <a class="btn btn-success" href="/remark/{{hist.id}}">close ?</a></td>
                    {% elif hist.service_status == "Requested" %}
                    <td> <a class="btn btn-danger " href="/request/cancell/{{hist.cust.id}}/{{hist.pro.id}}/{{hist.id}}"
                            onclick="return confirm('Are you sure you want cancell this service request?')">Cancell
                            request</a></td>
                    {% else %}
                    <td>{{hist.service_status}}</td>
                    {% endif %}


                </tr>

                {% endfor %}

            </tbody>


        </table>
    </div>

    <!-- -------------------------------------------------------search page -->
    {% elif page =="search" %}

    <form action="/customer/search/{{id}}" method="POST">
        <label>Search by :</label>
        <select name="table" id="">

            <option value="service">Service</option>
            <option value="proAtPin">Professional at Pin Code</option>


        </select>
        <input type="search" name="typedtext" placeholder="Find all">
        <input type="submit" value="Search">
    </form>


    {% if found_data | length == 0%}
    

    {% else %}
    {% if table == "service"%}
    <h2>List of all Services</h2>
    <table>
        <tr>
            <th>Service Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>

        {% for srvs in found_data | sort(attribute='sname') %}
        <tr>
            <td>{{srvs.sname}}</td>
            <td>{{srvs.description}}</td>
            <td>{{srvs.price}}</td>
        </tr>
        {% endfor %}
    </table>
    {% elif table == "proAtPin"%}
    <h2>List of Professionals available at the pincode</h2>
    <table>
        <tr>
            <th>Name of the professional</th>
            <th>Service providing</th>
            <th>Pin code</th>
        </tr>

        {% for pro in found_data | sort(attribute='pincode') %}
        <tr>
            <td>{{pro.name}}</td>
            <td>{{pro.sp.sname}}</td>
            <td>{{pro.pincode}}</td>
        </tr>
        {% endfor %}
    </table>
    {%endif%}


    {% endif %}


    <!-- -------------------------------------------------------Summary page -->
    {% elif page =="summary" %}
    <table>
        <tr>
            <th>Rating</th>
            <th>Service status</th>
        </tr>

        <tr>
            <td> <img class="img-fluid" src="/{{rating_img}}" alt=" "></td>
            <td> <img class="img-fluid" src="/{{status_ing}}" alt=" "></td>
        </tr>

    </table>

    {% endif %}
</body>

</html>