<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Document</title>
</head>

<body class="container-fluid">


    <div class="navbar-brand mb-0 h1">A to Z Household Services</div>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">

            <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                    <span class="navbar-text"> Welcome to Customer |</span>

                    <a class="nav-link" href="/customer/home/{{id}}">Home</a>
                    <a class="nav-link" href="/customer/search/{{id}}">Search</a>
                    <a class="nav-link" href="/customer/summary/{{id}}">Summary</a>
                    <a class="nav-link " href="/">Logout</a>
                </div>
            </div>
        </div>
    </nav>















    <!-- -------------------------------------------------------Home page -->
    {% if page =="home" %}

    <a class="btn btn-info m-1 " href="/customer/profile/{{id}}">Go to Profile</a>


    <!-- after clicking on a service to book -->
    {% if recomend|length == 0 %}
    <div class=" container ">
        <h2>What are lookinng for?</h2>
        <form class="row row-cols-3 " action="/customer/home/{{id}}" method="post">
            {% for serv in all_service %}
            <!-- <span class="col mb-3  "> -->
            <!-- <p>{{serv.description}}</p> -->
            <!-- <button class="btn btn-light btn-lg align-self-center" type="submit" name="showserv" value="{{serv.id}}">{{serv.sname}}</button> -->

            <!-- </span> -->



            <div class="card col " style="width: 10rem;">

                <div class="card-body">
                    <h5 class="card-title">{{serv.sname}}</h5>
                    <p class="card-text">{{serv.description}}</p>
                    <button class="btn btn-sm btn-info" type="submit" name="showserv" value="{{serv.id}}">Find best
                        professional</button>

                </div>
            </div>



            {% endfor %}
        </form>
    </div>




    {% else %}





    <div class="card m-3" style="width: 50% ;">
        <h5 class="card-header">Best {{recomend[0].sp.sname}} packeg for you </h5>
        <ul class="list-group list-group-flush">
            {% for r in recomend |sort(attribute='service_rating', reverse = True) %}
            <!-- list of professional , rating decending order -->
            <li class="list-group-item">
                <a class="btn btn-primary" href="/request/book/{{id}}/{{r.id}}/{{r.id}}">book</a>
                <span>{{r.pro_descrip}}</span>
            </li>

            {% endfor %}

        </ul>
    </div>



    {% endif %}




    <h2>Your Service History</h2>
    <table>
        <thead>

            <tr>
                <th>ID</th>
                <th>Service Name</th>
                <th>Professional Name</th>
                <th>Phome no.</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>


            {% for hist in hist %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{hist.ss.sname}}</td>
                <td>{{hist.pro.name}}</td>
                <td>{{hist.pro.phone}}</td>

                {% if hist.service_status == "Accepted" %}
                <td> <a class="btn btn-success" href="/remark/{{hist.id}}">close ?</a></td>
                {% elif hist.service_status == "Requested" %}
                <td> <a class="btn btn-danger "
                        href="/request/cancell/{{hist.cust.id}}/{{hist.pro.id}}/{{hist.id}}">cancell request</a></td>
                {% else %}
                <td>{{hist.service_status}}</td>
                {% endif %}


            </tr>

            {% endfor %}

        </tbody>


    </table>


    <!-- -------------------------------------------------------search page -->
    {% elif page =="search" %}

    {% if found_data | length == 0%}
    <p>sorry there no data</p>
    {% else %}
    {{found_data}}

    {% endif %}

    <form action="/customer/search/{{id}}" method="POST">
        <label>Search by :</label>
        <select name="table" id="">

            <option value="service">Service</option>
            <!-- <option value="customer">Customer</option>
            <option value="professional">Professional</option> -->
            <option value="pincode">Pin Code</option>


        </select>
        <input type="search" name="typedtext" placeholder="Find all">
        <input type="submit" value="Search">
    </form>


    <!-- -------------------------------------------------------Summary page -->
    {% elif page =="summary" %}
    <table>
        <tr>
            <th>Rating</th>
            <th>Service status</th>
        </tr>

        <tr>
            <td> <img src="../{{rating_img}}" alt=" "></td>
            <td> <img src="../{{status_ing}}" alt=" "></td>
        </tr>

    </table>

    {% endif %}
</body>

</html>