<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Professional</title>
</head>

<body class="container-fluid ">

    <div class="navbar-brand mb-0 h1">A to Z Household Services</div>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <span class="navbar-text"> Welcome to Professional |</span>

                    <a class="nav-link" href="/professional/home/{{id}}">Home</a>
                    <a class="nav-link" href="/professional/search/{{id}}">Search</a>
                    <a class="nav-link" href="/professional/summary/{{id}}">Summary</a>
                    <a class="nav-link" href="/">Logout</a>
                </div>
            </div>
        </div>
    </nav>






    <!-- -------------------------------------------------------Home page -->
    {% if page =="home" %}

    <a class="btn btn-info" href="/professional/profile/{{id}}">Profile</a>

    <h1>Today services</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Customer Name</th>
            <th>Contact Phone</th>
            <th>Location(with pin code)</th>
            <th>Action</th>
        </tr>
        {% for n in newreq %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{n.cust.name}}</td>
            <td>{{n.cust.phone}}</td>
            <td>{{n.cust.address}}, {{n.cust.pincode}}</td>
            <td><a href="/request/accept/{{n.rcust_id}}/{{n.rpro_id}}/{{n.id}}">Accept</a> / <a
                    href="/request/reject/{{n.rcust_id}}/{{n.rpro_id}}/{{n.id}}" onclick="return confirm('Are you sure you want to Reject?')">Reject</a></td>
        </tr>
        {% endfor %}
    </table>


    <h1>Closed / all services</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Customer Name</th>
            <th>Contact Phone</th>
            <th>Location(with pin code)</th>
            <th>Request Date</th>
            <th>Rating</th>
        </tr>
        {% for a in allreq %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{a.cust.name}}</td>
            <td>{{a.cust.phone}}</td>
            <td>{{a.cust.address}}, {{a.cust.pincode}}</td>
            <td>{{a.date_of_request}}</td>
            <td>{{a.rating}}</td>

        </tr>
        {% endfor %}
    </table>

    <!-- -------------------------------------------------------search page -->
    {% elif page =="search" %}



    
    <form action="/professional/search/{{id}}" method="POST">
        <label>Search by :</label>
        <select name="table" id="">

            
            <option value="date">Date</option>
            <option value="location">Location name</option>
            <option value="pincode">Pin Code</option>
            

        </select>
        <input type="search" name="typedtext" placeholder="Find all">
        <input type="submit" value="Search">
    </form>
    
    
    {% if found_data | length == 0%}
    <p>sorry there no data</p>
    {% else %}
    {{found_data}}

    {% endif %}

    <h2>Search Results</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Customer Name</th>
            <th>Contact Phone</th>
            <th>Location(with pin code)</th>
            <th>Date</th>
            <th>Rating </th>
        </tr>
    </table>

    <!-- -------------------------------------------------------Summary page -->
    {% elif page == "summary" %}

    <table>
        <tr>
            <th>Rating</th>
            <th>Service status</th>
        </tr>

        <tr>
            <td> <img src="/{{rating_img}}" alt=" all rating"></td>
            <td> <img src="/{{status_ing}}" alt=" job status"></td>
        </tr>

    </table>






    {% endif %}








</body>

</html>